<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add Point of Interest</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <script type="text/javascript" src="/utils.js" defer></script>
        <script type="text/javascript" src="/addpoi.js" defer></script>
    </head>
    <body>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h3 class="text-center">Add Point of Interest</h3>
                        </div>
                        <div class="card-body">
                            <form id="addPoiForm">
                                <div class="mb-3">
                                    <label for="name" class="form-label"
                                        >Name</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="name"
                                        name="name"
                                        required
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="type" class="form-label"
                                        >Type</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="type"
                                        name="type"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="country" class="form-label"
                                        >Country</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="country"
                                        name="country"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="region" class="form-label"
                                        >Region</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="region"
                                        name="region"
                                    />
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="lat" class="form-label"
                                            >Latitude</label
                                        >
                                        <input
                                            type="float"
                                            class="form-control"
                                            id="lat"
                                            name="lat"
                                            step="any"
                                        />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="lon" class="form-label"
                                            >Longitude</label
                                        >
                                        <input
                                            type="float"
                                            class="form-control"
                                            id="lon"
                                            name="lon"
                                            step="any"
                                        />
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label"
                                        >Description</label
                                    >
                                    <textarea
                                        class="form-control"
                                        id="description"
                                        name="description"
                                        rows="4"
                                    ></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="image" class="form-label"
                                        >Image</label
                                    >
                                    <input
                                        type="file"
                                        class="form-control"
                                        id="image"
                                        name="image"
                                    />
                                <div class="text-center">
                                    <button
                                        type="submit"
                                        id="ADD POI"
                                        class="btn btn-primary"
                                    >
                                        Add
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.7.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
