
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       
        <link rel="stylesheet" href="/public/footer.css" />
    
    </head>
    <body>
<footer>
    <div class="footer">
    <div class="first-main">
        <div class="privacy">
            <p><a href="/privacypolicy">Privacy Policy</a></p>
            <h6 class="repo">
                <a href="https://github.com/TomStrong/DevOpsAssessment"
                    >GitHub Repository
                </a>
            </h6>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Languages</button>
            <div class="dropdown-content">
                <a href="/lang/en">English</a>
                <a href="/lang/fr">French</a>
                <a href="/lang/pt">Portuguese</a>
                <a href="/lang/es">Spanish</a>
                <a href="/lang/tr">Turkish</a>
            </div>
        </div>
    </div>
    <div class="second-main">
        <div class="Api">
            <h4>Documentation </a></h4>
            <p><a href="/api-docs">API</a></p>
            <p><a href="/dev-docs">User documentation</a></p>
           
        </div>
        
    </div>
    <div class="third-div">
        <div class="team">
            <h4 class="h5">Collaborator</h4>

            <dl>
                <dt class="dt">
                    Tom Strong
                    <a href="https://github.com/TomStrong"><img src="icons/GitHub-logo.png" alt="" class="logo" width="40px" height="20px"></a>
                </dt>

                <dt class="dt">
                    Shivkumar Hitesh Thakkar
                    <a href="https://github.com/5thaks07"><img src="icons/GitHub-logo.png" alt="" class="logo" width="40px" height="20px"></a>
                </dt>

                <dt class="dt">
                    Fizan Ahmad
                    <a href="https://github.com/FaizanAhmedSP707"
                        ><img src="icons/GitHub-logo.png" alt="" class="logo" width="40px" height="20px"></a
                    >
                </dt>

                <dt class="dt">
                    Joao Maria Fragoso Potes
                    <a href="https://github.com/Joao-Potes"><img src="icons/GitHub-logo.png" alt="" class="logo" width="40px" height="20px"></a>
                </dt>

                <dt class="dt">
                    Ali Dashti
                    <a href="https://github.com/ali1373107"><img src="icons/GitHub-logo.png" alt="" class="logo" width="40px" height="20px"></a>
                </dt>
            </dl>
        </div>
    </div>
   
</div>
<div class="copy">
    <p>&copy; 2023 GeoGuide. All rights reserved.</p>
</div>
    
</footer>
</body>
</html>
